<div class='main'>
  <div class='one'>
    <div class='register'>
      <h3>Login</h3>
      <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path, html:{id:'reg-form'} do |f| %>
        
        <div id='password-credentials'>
          <div>
            <label for='email'>Email</label>
            <%= f.email_field :email, :class => 'title', :tabindex => 1, autofocus: true %>
          </div>
          <div>
            <label for='password'>Password</label>
            <%= f.password_field :password, :class => 'title', :tabindex => 2 %>
          </div>
        </div>
        <div>
          <label></label>
          <%= f.submit Spree.t(:login), :class => 'button', :tabindex => 4 , :id => 'create-account'%>
        </div>
      <% end %>
      <div id="other-link"><%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:create_a_new_account), spree.signup_path %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %></div>
    </div>
  </div>
</div> 
    
    
